* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: var(--violet);
    background-image: url("images/bg-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: var(--white);
}

.logo {
    margin: 0 1085px 0 0;
    width: 201px;
    height: 49px;
}

main {
    margin-top: 88px;
    display: flex;
    flex-direction: row;
    width: 1287px;
    height: 506px;
}

div {
    margin-top: 88px;
    display: flex;
    flex-direction: row;
    width: 1287px;
    height: 506px;
}

div img {
    width: 709px;
    height: 506px;
}

section {
    margin: 36px 0 0 53px;
}

h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: -0.004em;
}

p {
    margin-right: 5px;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}

button {
    margin-top: 24px;
    width: 200px;
    height: 56px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 28vmax;
    border: none;
    background: var(--white);
    font-family: inherit;
    font-size: 18px;
    line-height: 27px;
    color: var(--violet);
    cursor: pointer;
    transition: 200ms cubic-bezier(.77, .01, .97, .98);
}

button:hover {
    background: var(--soft-magenta);
    color: var(--white);
}

footer {
    margin: 21px 0 0 1102px;
    display: flex;
    flex-direction: row;
}

picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    padding: 10px;
    border: solid var(--white) 1px;
    border-radius: 100vmax;
    transition: 200ms cubic-bezier(.77, .01, .97, .98);
    cursor: pointer;
}

picture img {
    position: absolute;
    width: 20px;
    height: 20px;
}

picture:hover {
    border-color: var(--soft-magenta);
}

.front:hover {
    opacity: 0;
}


picture:nth-child(2) {
    margin: 0 16px 0 16px;
}

@media screen and (max-width: 1430px) {

    body {
        height: auto;
        background-image: url("images/bg-mobile.svg");
        background-size: contain;
    }

    .logo {
        margin: 64px 356px 0 0;
        width: 236px;
        height: 83px;
    }

    main {
        margin-top: 121px;
        flex-direction: column;
        width: 603px;
        height: 1088px;
        text-align: center;
    }

    main img {
        width: 603px;
        height: 429px;
    }

    section {
        margin: 120px 0 0 0;
    }

    h1 {
        font-size: 48px;
        line-height: 72px;
    }

    p {
        margin: 27px 0 0 0;
        font-size: 32px;
    }

    button {
        margin-top: 48px;
        width: 400px;
        height: 80px;
        border-radius: 40vmax;
        font-size: 24px;
        line-height: 36px;
    }

    footer {
        margin: 129px 0 81px 0;
    }

    picture {
        width: 26px;
        height: 26px;
        padding: 13px;
    }

    picture img {
        width: 28px;
        height: 28px;
    }

    picture:nth-child(2) {
        margin: 0 22px 0 22px;
    }

}

:root {
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
    --white: hsl(0, 0%, 100%);
}